*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Times New Roman', Times, serif;
    font-size: 1.2rem;

}

.container{
    min-height: 100vh;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    gap: 20px;
    background: linear-gradient(to right,#041308,#0b3317);
}
.left-text{
    flex-basis: 30%;

}
.right-image{
    flex-basis: 50%;
    display: grid;
    gap: 8px;
    grid-template-columns: repeat(3,1fr);
    grid-auto-rows: 120px;
}
.heading{
    font-size: 3rem;
    color: white;
    text-align: center;
}
.subheading{
    color: #ddd;
    margin-top: 10px;
    text-align: center;
}
.box{
    background-size: cover;
    background-position: top;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #222;
    background-blend-mode: hard-light;
    transition:all 1s ease-in-out;
}
.box:hover{
    background-color: #999;
    background-position: center;
    box-shadow: 0 0 4px white;
    cursor: pointer;
}
.row-2{
    grid-row: span 2;
}
.col-2{
    grid-column: span 2;
}

/* media quary */

@media screen and (max-width:1024px){
    .container{
        flex-direction: column;
        padding-block: 20px;
    }
    .right-image{
        width: 100%;
        padding-inline: 12px;
        grid-auto-rows: 220px;
    }
    .box{
        grid-row: span 1;
        grid-column: span 3;
    }
}